$background-base: #5a5a5a;

$color-base: #fff; 
$color-link-base: #60ccff; 
$color-link-base-hover: #60ccff;
/*$color-link-base-hover: #6cfe91; */
$color-link-base-wishlist: #575757; 

$font-family-base: 'Ubuntu', sans-serif;
$font-size-base: 14pt;
$font-size-btn: 16pt;


$item-h5-color:#bababa;
$item-color-wishlist: #6cfe91; 

$wishlist-table-background: #3c3d3d;
$wishlist-table-border-top: 10px solid #60ccff;
$wishlist-table-total-font-size: 16pt;   
$wishlist-table-total-price-color: #60ccff;