.wishlist-table
{
    background: $wishlist-table-background;
    border-top: $wishlist-table-border-top;
    
   .wishlist-header{
        font-family: 'Ubuntu Condensed', sans-serif;
        text-transform: uppercase;
   }
   .total {
        font-variant: bold;
        font-size: $wishlist-table-total-font-size;    
        padding: 20px 21px;
   }
   .total-price {
        color: $wishlist-table-total-price-color;
   }
}

@import 'wishlist-item'